/**

  This files contains Windows Resource statements for adding images to the plug-in binary.

  @Author  David Hoyle
  @Version 1.098
  @Date    01 Jun 2020

  @license

    3rd Party Help is a RAD Studio IDE plug-in that allows you to easily install
    additional 3rd Party HTML Help files into the IDE to provide context
    sensitive help for libraries and components.

    Copyright (C) 2020  David Hoyle (https://github.com/DGH2112/3rd-Party-IDE-Help)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

**/
TPHelpSplashScreen24x24   BITMAP "Images\TPHelpSplashScreen24x24.bmp"
TPHelpSplashScreen48x48   BITMAP "Images\TPHelpSplashScreen48x48.bmp"

